@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";
.gantt-chart{
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

:host{
  display: block;
  height: auto;
  position: relative;
  width: 100%;
}

