.modal-content {
    background-color: #333;
    color: #fff;
  }
  
.btn-primary {
background-color: #55acee;
border-color: #55acee;

  &:hover {
      background-color: #3b5998;
      border-color: #3b5998;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

.content {
  flex: 1; 
}

.footer {
  flex-shrink: 0;
}

  