<div class="content">
    <section class="hero-section">
        <div class="hero-text">
        <h1><i class="fa fa-lightbulb"></i> Nowa funkcjonalność już wkrótce!</h1>
        <p><i class="fa fa-cog"></i> Pracujemy nad tym, aby jak najszybciej dostarczyć pełną funkcjonalność. Wkrótce będziesz mógł/a skorzystać ze wszystkich usług naszej restauracji.</p>
        <button class="cta-button" (click)="goBack()">Wróć do strony głównej</button>
        </div>
        <div class="hero-image">
        <img src="assets/coming-soon.jpg" alt="Ilustracja nadchodzącej funkcjonalności" />
        </div>
    </section>
</div>
  