<div class="reservation-container">
  <div class="form-section">
    <h2>Zarezerwuj stolik</h2>
    <form (ngSubmit)="submitReservation()">
      <div class="form-group">
        <label for="date">
          <mat-icon>calendar_today</mat-icon> Wybierz datę
        </label>
        <input
          id="date"
          type="date"
          [(ngModel)]="reservationFormData.date"
          (ngModelChange)="onReservationTimeChange()"
          placeholder="yyyy-MM-dd"
          name="date"
          [min]="minDate"
          [max]="maxDate"
          required
        />
      </div>

      <div class="form-group" *ngIf="reservationFormData.date">
        <label for="start-time">
          <mat-icon>schedule</mat-icon> Godzina rozpoczęcia
        </label>
        <mat-form-field appearance="outline">
          <mat-label>Godzina rozpoczęcia</mat-label>
          <div class="timepicker-wrapper">
            <input
              matInput
              [ngxMatTimepicker]="picker"
              [(ngModel)]="reservationFormData.start_time"
              [min]="getMinTime(reservationFormData.date)"
              [max]="getMaxTime(reservationFormData.date)"
              (ngModelChange)="onReservationTimeChange()"
              placeholder="24hr format"
              aria-label="24hr format"
              [format]="24"
              name="start_time"
              required
              readonly
            />
            <ngx-mat-timepicker #picker [minutesGap]="15" [format]="24"></ngx-mat-timepicker>
            <div class="time-adjustment">
              <button type="button" class="arrow-button" (click)="adjustTime('up')">
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button type="button" class="arrow-button" (click)="adjustTime('down')">
                <mat-icon>arrow_downward</mat-icon>
              </button>
            </div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group" *ngIf="reservationFormData.date">
        <label for="duration">
          <mat-icon>hourglass_bottom</mat-icon> Długość rezerwacji
        </label>
        <ngb-timepicker
          [(ngModel)]="reservationFormData.duration"
          (ngModelChange)="onReservationTimeChange()"
          [minuteStep]="15"
          name="duration"
          required
        >
      </ngb-timepicker>
      </div>
      <div class="form-group">
        <label for="tableId">
          <mat-icon>table_restaurant</mat-icon> Wybrane stoliki
        </label>
        <ul>
          <li *ngFor="let tableId of reservation.table_ids">
            Stolik {{ tableId }}
          </li>
        </ul>
      </div>
      <button type="submit" class="submit-button">Wyślij rezerwację</button>
    </form>
  </div>

  <app-table-plan
    class="plan-full-width"
    *ngIf="isReservationValid()"
    [tables]="tables"
    [occupiedTables]="occupiedTables"
    [selectedTables]="reservation.table_ids"
    [isManager]="isUserManager"
    (tableSelected)="selectTable($event)"
    (layoutSaved)="handleLayoutSave($event)"
    (restore)="restoreLayout($event)"
  ></app-table-plan>

</div>
