@use "../../../utils" as ds;

::ng-deep .mat-dialog-container {
  padding: 8px;
  border-radius: ds.$border-radius;
  overflow: hidden;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: ds.$primary-color1;
  color: ds.$text-color-light;

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .close-button {
    background-color: transparent;
    color: ds.$text-color-light;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.dialog-content {
  padding: 1rem;
  max-height: 400px; 
  overflow-y: auto; 

  .form-field {
    padding-top: 8px;
  }
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1rem;

  .mat-form-field-outline {
    border-color: rgba(0, 0, 0, 0.2);
  }

  mat-error {
    color: ds.$secondary-color;
  }
}

.dialog-actions {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: transparent;

  .w-100 {
    width: 100%;
    margin-top: 1rem;
  }

  button {
    margin-top: 0.5rem;
    background-color: ds.$primary-color2;
    color: ds.$text-color-light;
    border: none;
    border-radius: ds.$border-radius;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(ds.$primary-color2, 10%);
    }
  }
}
