.plan-section {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  
  .actions {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
  }

  #canvas-container {
    flex-grow: 1;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
