<footer class="footer">
  <div class="container">
    <!-- Kolumna 1: Ikony społecznościowe i kontakt -->
    <div class="footer-column">
      <h3>Kontakt</h3>
      <p><strong>Adres:</strong> {{ contactInfo?.street }}, {{ contactInfo?.city }}, {{ contactInfo?.zip_code }}</p>
      <p><strong>Telefon:</strong> {{ contactInfo?.phone }}</p>
      <p><strong>Email:</strong> {{ contactInfo?.email }}</p>
      <div class="social-icons">
        <a *ngIf="contactInfo?.facebook_url" class="icon" style="color: #357de3;" target="_blank" [href]="contactInfo?.facebook_url" role="button">
          <i class="fab fa-facebook"></i>
        </a>
        <a *ngIf="contactInfo?.twitter_url" class="icon" style="color: #55acee;" target="_blank" [href]="contactInfo?.twitter_url" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <a *ngIf="contactInfo?.google_url" class="icon" style="color: #dd4b39;" target="_blank" [href]="contactInfo?.google_url" role="button">
          <i class="fab fa-google"></i>
        </a>
        <a *ngIf="contactInfo?.instagram_url" class="icon" style="color: #ac2bac;" target="_blank" [href]="contactInfo?.instagram_url" role="button">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    

    <!-- Kolumna 2: Godziny otwarcia -->
    <div class="footer-column">
      <h3>Godziny otwarcia</h3>
      <ng-container *ngFor="let hours of openingHours">
        <p>{{ hours.day }}: {{ hours.hours }}</p>
      </ng-container>
    </div>
    

    <!-- Kolumna 3: Historia restauracji -->
    <div class="footer-column">
      <h3>O nas</h3>
      <p>Nasza restauracja została założona w 2000 roku, aby zaoferować wyjątkowe doznania kulinarne inspirowane kuchnią lokalną i międzynarodową. Od lat łączymy tradycję z nowoczesnością, tworząc unikalną atmosferę dla naszych gości.</p>
    </div>

    <!-- Kolumna 4: Szybkie linki -->
    <div class="footer-column">
      <h3>Szybkie linki</h3>
      <ul>
        <li><a href="/home">Strona główna</a></li>
        <li><a href="/reservation">Rezerwacja</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
  </div>

  <!-- Dolna część stopki -->
  <div class="footer-bottom">
    <p>&copy; 2024 Restauracja. Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>
