<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/home">
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/home">Strona główna</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/rezerwacja">Rezerwacja</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
    <div class="login">
      <a href="/login" title="Zaloguj się">
        <i class="material-icons">person</i>
      </a>
    </div>
  </div>
</header>
