// Paleta kolorów
$primary-color1: #061531;
$primary-color2: #528cef;
$secondary-color: #528cef;
$accent-color: #ffeb3b;
$text-color-dark: #061531;
$text-color-light: #ffffff;
$background-light: #f4f4f4;

// Cienie i obramowania
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$border: 1px solid rgba(255, 255, 255, 0.2);
$border-radius: 8px;
