@use "../../../utils" as ds;

::ng-deep .mat-dialog-container {
  padding: 0;
  border-radius: ds.$border-radius;
  overflow: hidden;
  width: 400px;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: ds.$primary-color1;
  color: ds.$text-color-light;

  .close-button {
    background-color: transparent;
    color: ds.$text-color-light;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.dialog-content {
  padding: 1rem;
  max-height: 600px;
  overflow-y: auto;

  .form-field {
    padding-top: 8px;
  }
}

.mat-error {
  font-size: 0.875rem;
  position: absolute;
  bottom: -1.5rem;
}

.register-button {
  margin-bottom: 0;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  padding-top: 0;
  background-color: transparent;

  button {
    width: 100%;
    background-color: ds.$primary-color2;
    color: ds.$text-color-light;
    border: none;
    border-radius: ds.$border-radius;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(ds.$primary-color2, 10%);
    }
  }
}
